@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: auto;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    background: rgb(0, 102, 128);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #051537 solid 3px;
    padding: 50px;
}

.bi {
    color: #06090f;
}

p {
    color: #040404;
}

#menu-principal {
    list-style-type: none;
    display: flex;
}

nav {
    overflow: hidden;
    padding: 20px 0;
}

#menu-principal a {
    text-decoration: none;
    color: #203083;
    font-size: 16px;
    font-weight: bolder;
    padding: 8ppx;
}

#menu-principal a:hover {
    color: #ffffff;
    background-color: blueviolet;
}

#foto-perfil {
    width: 300px;
    border-radius: 20px;
    float: right;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
}

main {
    overflow: hidden;
}

section {
    overflow: hidden;
}

.proyecto {
    width: 33%;
    margin-top: 20px;
}

.proyecto img {
    width: 90%;
    border-radius: 15px;
    margin-top: 10px;
}

#proyectos {
    padding: 20px 30px;
    border-top: solid 5px #44329e;
    margin-top: 30px;
    text-align: center;
}

#lista-proyectos {
    display: flex;
}

.proyecto p {
    text-align: justify;
    padding: 10px 5px;
    color: #000;

}

.proyecto h3 {
    color: #051537;
    font-weight: bolder;
}

#habilidades {
    overflow: hidden;
    padding: 20px;
    padding-bottom: 20px;
    border-top: solid 5px #6a6a6c;
    margin-bottom: 30px;
}

progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista-tecnologias {
    list-style: none;
    display: flex;
    margin-left: 0;
    gap: 15px;

}

.lista-tecnologias li {
    background-color: #4a6398;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 25px;
    text-align: center;
}
#contactos{
    padding: 40px;
    
}
.campos{
    width: 70%;
    clear: both;
    font-size: 20px;
}
.campos label{
    padding-right: 20px;
}
.campos input,select{
    padding: 10px;
    border: solid 2px #190156;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}
.campos button{
    background-color: #051537;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding:  20px 30x;
    border: none;
}
.campos .opciones{
    width: 20px;
}

footer {
    overflow: hidden;
    padding: 40px 0;
    background-color: rgb(17, 67, 165);
    text-align: center;
    border-top: solid 2px #190156;

}